<launch>
  
  <arg name="world_name" default="tasks.world"/>
  <!-- Launch the world and spawn the robot -->
  <include file="$(find panda_gazebo)/launch/panda_basic.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <!--<arg name="world_name" value="commuting_cylinder.world"/>-->
    <!--<arg name="world_name" value="two_moving_cylinder.world"/>-->
  </include>






  <!-- Controller -->
  <!-- <include file="$(find panda_control)/launch/panda_positioncontrol.launch"/> -->
  <include file="$(find panda_control)/launch/panda_positioncontrol.launch"/>


  

  <node pkg="topic_tools" type="relay" name="relay_joint_states_arm" args="/panda/joint_states /joint_states" />

</launch>
