<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="datafile" default="jointsangles.txt"/>
  <arg name="period" default="0.01"/>
	<node pkg="ma1_project" type="main.py" name="main" args="$(arg datafile) $(arg period)" output="screen"></node>
</launch>
